$primaryColor: #0B3D2E;  
$secondaryColor: #D4AF37;   
$accentColor: #1FAF5D;       
$greyColor: #F2F2F2;        
$lightBackground: #FAFAF8;   
$darkBackground: #0A0F0C; 

$defaultFont:'Spline Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;